.footer {
  background-color: var(--background-footer);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .container {
  display: flex;
}
.footer-left {
  margin-right: 120px;
}
.footer-logo {
  color: #4d5ae5;
  margin-bottom: 16x;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #e7e9fc;
  width: 264px;
  margin-top: 16px;
}
.footer-social {
  box-sizing: border-box;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list {
  gap: 16px;
}
.footer-link {
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background: #31d0aa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
  margin: auto;
}
/*.footer-right {
}*/
.footer-subscribe {
  margin-left: 80px;
}
.footer-form {
  display: flex;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email-icon-btn {
  fill: #ffffff;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 584px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
  }
  .footer-row {
    display: flex;
    align-items: baseline;
  }
  .footer-block {
    margin-right: 24px;
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    max-width: 264px;
  }
  .footer-social-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .subscribe-title {
    text-align: start;
  }
  .subscribe-row {
    display: flex;
    flex-direction: row;
  }
  .subscribe-input {
    margin-right: 24px;
    margin-bottom: 0;
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding: 100px 0px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-block {
    width: 264px;
    margin-right: 120px;
    margin-bottom: 0;
  }
  .subscribe-form {
    margin-left: 80px;
  }
  .footer-row {
    margin-bottom: 0;
  }
  .subscribe-row {
    display: flex;
    flex-direction: row;
  }
}
