@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header-list {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .customer-list {
    gap: 24px;
    display: flex;
  }
  .customer-item {
    width: calc((100%-30px) / 2);
    gap: 16px;
    margin-bottom: 72px;
  }
}
