@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .header-contact {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header-contact {
    display: block;
  }
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
